.slider-container {
  position: relative;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  margin: auto;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
}

.slide.active {
  display: flex;
  opacity: 1;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transform: translateY(-50%);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@media screen and (max-width: 768px) {
  .arrow {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
  }
}
